@(text: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wikipedia api get page content</title>
    </head>
    <body>
        <div class="container">
            <table class="table">
                <tr>
                    <th>
                        <div id="results" style="font-family:Verdana; font-size:10px; font-style:normal;">
                            @text
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </body>
</html>