# Add any directories, files, or patterns you don't want to be tracked by version control
.DS_Store
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.history
/RUNNING_PID
*.iml
nohup.out